nav.navbar
  .container-fluid.p-r-15.p-l-15.p-t-15
    h4.m-t-0.m-l-10
      | Dashboard
    .row.m-t-10
      col-md-12
        .panel.panel-default
          .panel-body
            #container-1(style='min-width: 310px; height: 400px; margin: 0 auto')
